[submodule "3rd-party/CommonLibSSE-NG"]
	path = 3rd-party/CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG.git
[submodule "3rd-party/rapidcsv"]
	path = 3rd-party/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd-party/xbyak"]
	path = 3rd-party/xbyak
	url = https://github.com/herumi/xbyak.git
